html, body {
  width: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 350vh;
}

h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2vw;
}

p {
  font-size: 2vw;
}

ul {
  list-style-type: none;
  font-size: 2vw;
}

li {
  margin-top: 10px;
}

#experience li {
  margin-bottom: 15px;
}

#education > ul {
  font-size: 1.5vw;
}

#education li {
  margin-bottom: 15px;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition-timing-function: ease-in;
  transition-duration: 2s;
  position: fixed;
  top: 0;
}

.content {
  opacity: 0;
  transition: opacity 1s ease-in;
}

#container {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 300px;
}

#name-big {
  font-size: 5vw;
  margin-bottom: 50px;
}

#name-title {
  font-size: 3vw;
}

#text-mandelbrot {
  font-family: monospace;
  font-size: 5px;
  letter-spacing: 3px;
}

.scrolled {
  opacity: 1 !important;
}

#education {
  height: 600px !important;
}

@media screen and (max-width: 900px) {
  #c {
    height: 40%;
    top: 30%;
  }
  #text-mandelbrot {
    font-size: 3px;
    letter-spacing: 2px;
  }
  #name-big {
    font-size: 5vh;
    top: -200px;
  }
  #name-title {
    font-size: 3vh;
  }
  h2 {
    font-size: 3vh;
  }
  h3 {
    font-size: 2vh;
  }
  p {
    font-size: 2vh;
  }
  ul {
    font-size: 2vh;
  }
  img {
    width: 100px;
  }
  #container > div {
    height: 150px;
    width: 350px;
  }
  #education {
    height: 400px !important;
  }
}